<!-- Masthead-->
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <h1 class="mb-0">SendGen Middleware</h1>
                    <h2 class="mb-5">Nosso objetivo é criar pontes digitais!</h2>
                    <form class="form-subscribe" id="contactForm" data-sb-form-api-token="API_TOKEN">
                        <!-- Email address input-->
                        <div class="row">
                            <div class="col">
                                <input class="form-control form-control-lg" id="emailAddress" type="email" placeholder="Cadastre seu email" data-sb-validations="required,email" />
                                <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:required">Email Address is required.</div>
                                <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:email">Email Address Email is not valid.</div>
                            </div>
                            <div class="col-auto"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Tenho interesse</button></div>
                        </div>
                        <!-- Submit success message-->
                        <!---->
                        <!-- This is what your users will see when the form-->
                        <!-- has successfully submitted-->
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Form submission successful!</div>
                                <p>To activate this form, sign up at</p>
                                <a class="text-white" href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                            </div>
                        </div>
                        <!-- Submit error message-->
                        <!---->
                        <!-- This is what your users will see when there is-->
                        <!-- an error submitting the form-->
                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Icons Grid-->
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-window m-auto"></i></div>
                    <h3>Ingração total</h3>
                    <p class="lead mb-0">Estratégia de integração para o sucesso do seu negócio!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-layers m-auto"></i></div>
                    <h3>Middleware</h3>
                    <p class="lead mb-0">Focado em comunicações: CRM - ERP - E-commerce - Telefonia - Mensageiros instantâneos</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto"></i></div>
                    <h3>Protocolos abertos</h3>
                    <p class="lead mb-0">Baseado em web APIs padronizadas e altamente customizáveis!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Image Showcases-->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/bg-showcase-1.jpg')"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Como funciona?</h2>
                <p class="lead mb-0">A solução de integração de API SendGen adiciona uma camada de automação entre vários aplicativos que acionam disparos automáticos.</p>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('assets/bg-showcase-2.jpg')"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Gestão</h2>
                <p class="lead mb-0">Permite manter um banco de dados mestre que pode ser usado para relatórios e análises.</p>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/bg-showcase-3.jpg')"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Agnóstico</h2>
                <p class="lead mb-0">Os dados podem estar em plataformas com diferentes sistemas operacionais ou fora da máquina do servidor de aplicações, ainda assim, o Middleware conseguirá transportar as informações.</p>
            </div>
        </div>
    </div>
</section>
<!-- Testimonials-->
<section class="testimonials text-center bg-light">
    <div class="container">
        <h2 class="mb-5">E muito mais...</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="assets/muitomais-experiencia.jpg" alt="Experiência" />
                    <h5>Experiência</h5>
                    <p class="font-weight-light mb-0">Garantir a melhor experiência do usuário é regra para praticamente todos os processos das empresas, principalmente as comunicações.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="assets/muitomais-hiperconvergencia.jpg" alt="Hiperconvergência" />
                    <h5>Hiperconvergência</h5>
                    <p class="font-weight-light mb-0">Para tornar a comunicação mais simples e agradável, o Middleware atua como ponte entre aplicativos, possibilitando todas as comunicações empresa/cliente nascerem no ERP/CRM, passem pelas ferramentas Omnichannel e depois voltem pra ele.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="assets/muitomais-equipe.jpg" alt="Equipe de vendas" />
                    <h5>Relacionamento</h5>
                    <p class="font-weight-light mb-0">O Middleware também facilita a gestão por meio de relatórios gerenciais, apoiando as validações das equipes de relacionamento com o cliente.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<app-action></app-action>
